hr {
    border-style: dotted none none;
    width: 10%;
    border-width: 5px;
    border-color: darkgrey;
}

body {
    background: #f0eec9;
    margin: 0px;
}

.content {
    padding-top: 60px;
}

.site_head {
    background: #4ba2ac;
    display: flex;
    flex-flow: row;
    height: 50px;
    justify-content: center;
    margin: 0px 0px 100px;
    position: fixed;
    -webkit-margin-after: 0px;
    width: 100%;
}

.header {
    color: #4ba2ac;
}

.info {
    color: #50c9ba;
    margin-top: 0px;
}

.content_field {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.link {
    color: #f0eec9;
}

.button {
    font-size: 17px;
    font-style: oblique;
    height: 45px;
    padding: 15px;
}

.my_photo {
    width: auto;
    text-align: center;
    padding: 15px;
    height: 200px;
    width: 200px;
}

.my_info {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}